---
import "@fontsource-variable/inter";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Features from "~/components/features.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Lexus IS250C Car Share</title>
    <meta name="description" content={description} />

    <!-- OGP 略 -->
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />

    <!-- 最上部に Intro（IS250C Hero） -->
    <Intro />

    <!-- 以下お好みで並べ替え／間引き -->
    <div class="space-y-24 px-8 py-32">
      <Features />
    </div>
  </body>
</html>
